*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar specific */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background: linear-gradient(#000000 50%, #00000000);
}

nav .logo{
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

nav img{
    width: 70px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a{
    color: white;
    font-size: 15px;
    font-weight: 200;
    transition: all 0.3s ease;
    text-decoration: none;
}

/* Explore */
.explore{
    width: 100%;
    height: 100vh;
}

.explore .slide{
    
} 

.explore .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}